@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@font-face {
  font-family: Now;
  src: url("./assets/fonts/NowAlt-Light.otf") format("opentype");
}

p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #191919;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .header {
  padding-top: clamp(30px, 10vh, 50px);
  margin: 0 auto;
}

.App .header #header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  flex-direction: row;
}

.App .header #header-logo img {
  max-width: 104px;
  max-height: 104px;
}

.App .header #header-text {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.App .header #header-text #text-upper {
  font-family: Now;
  margin: 0;
  margin-top: 0.7em;
  padding: 0;
  font-size: 1.1em;
}

.App .header #header-text #text-lower {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
  font-size: 4.1em;
  -webkit-transform: scale(1, 0.75);
          transform: scale(1, 0.75);
}

.App .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.App .menu #links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: clamp(100px, 85%, 625px);
  max-height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fccf04;
  border-radius: 16px;
  font-size: clamp(10px, 12vw, 85px);
}

.App .menu #events {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: clamp(100px, 85%, 625px);
  max-height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #ff5758;
  border-radius: 16px;
  font-size: clamp(10px, 6.5vw, 55px);
}

.App .menu #events .menu-text {
  padding-left: 20px;
}

.App .menu .menu-image {
  width: clamp(160px, 50%, 277px);
  max-height: 156px;
}

.App .menu .menu-text {
  font-family: "Open Sans", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=index.css.map */