@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@font-face {
    font-family: Now;
    src: url("./assets/fonts/NowAlt-Light.otf") format("opentype");
}

p {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    .header {
        padding-top: clamp(30px, 10vh, 50px);
        margin: 0 auto;

        #header-logo {
            display: flex;
            flex-direction: row;
            margin-right: 0;
            justify-content: center;
            text-align: center;
            flex-direction: row;

            img {
                max-width: 104px;
                max-height: 104px;
            }
        }

        #header-text {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: left;
            flex-wrap: wrap;
            align-content: flex-end;

            #text-upper {
                font-family: Now;
                margin: 0;
                margin-top: 0.7em;
                padding: 0;
                font-size: 1.1em;
            }
            #text-lower {
                margin: 0;
                padding: 0;
                letter-spacing: 0.1em;
                font-size: 4.1em;
                transform: scale(1, 0.75);
            }
        }
    }
    .menu {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        #links {
            display: flex;
            max-width: clamp(100px, 85%, 625px);
            max-height: 400px;
            flex-direction: row;
            background-color: #fccf04;
            border-radius: 16px;
        }

        .menu-image {
            width: clamp(160px, 50%, 277px);
        }

        .menu-text {
            font-size: clamp(10px, 12vw, 85px);
            font-family: "Open Sans", sans-serif;
            align-self: center;
        }
    }
}
